<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login_Modern</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./Style.Css" />
  </head>
  <body>
    <div class="container">
      <div class="log-section">
        <h3>Login</h3>
        <p>Login to your account to download pictures, Videos or Music</p>
        <div class="form-control">
          <input
            type="Email"
            name="Email"
            id="Email"
            placeholder="enter your email address"
          />
        </div>
        <div class="btn-section">
          <h6>forget password</h6>
          <button type="submit">
            next <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
        <div class="divider"></div>

        <small class="or">or log in with</small>

        <div class="social-login">
          <div class="social">
            <img src="./imgs/google.png" alt="google" />
            <h6>google</h6>
          </div>
          <div class="social">
            <img src="imgs/facebook.png" alt="Facebook" />
            <h6>Facebook</h6>
          </div>
        </div>
        <small class="signup"
          >Don't have an Account? <a href="#">Sign up</a></small
        >
      </div>
      <div
        class="img-section"
        style="background-image: url(imgs/woman-5352898_1280.jpg)"
      >
        <small>&nbsp;</small>
      </div>
    </div>
  </body>
</html>
