<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Model</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <div class="card">
        <i class="fa fa-times"></i>
        <h4>Share this article</h4>
        <small
          >If you liked this article share it with your friends. They will thank
          you later</small
        >

        <div class="social-list">
          <i class="fab fa-facebook">&nbsp;Facebook</i>
          <i class="fab fa-twitter">&nbsp;Twitter</i>
          <i class="fab fa-instagram">&nbsp;Instagram</i>
        </div>
        <h6>4.5 K Shares</h6>
        <small class="small">Close this window</small>
      </div>
    </div>
  </body>
</html>
