<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
    <link rel="stylesheet" href="./Style.Css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Programaticall or Manually Monitor, protect & report your Data.</h2>
      <div class="content">
        <div class="link-box">
          <div class="link-item">
            <i class="fas fa-network-wired"></i>
            <h5>Collections</h5>
            <p>
              A collection's fields defines the structure of the items within it
            </p>
          </div>
          <div class="link-item">
            <i class="fas fa-network-wired"></i>
            <h5>Collections</h5>
            <p>
              A collection's fields defines the structure of the items within it
            </p>
          </div>
          <div class="link-item">
            <i class="fas fa-network-wired"></i>
            <h5>Collections</h5>
            <p>
              A collection's fields defines the structure of the items within it
            </p>
          </div>
          <div class="link-item">
            <i class="fas fa-network-wired"></i>
            <h5>Collections</h5>
            <p>
              A collection's fields defines the structure of the items within it
            </p>
          </div>
        </div>
        <div class="blog-box">
          <h3>From Our Blog</h3>
          <div class="blog-item">
            <h5>Expending Support for JCB payments</h5>
            <small>Jane Wanger</small>
          </div>
          <div class="blog-item">
            <h5>Customize to match your Brand</h5>
            <small>Edward Bowen</small>
          </div>
          <div class="blog-item">
            <h5>Launch in five more Europian Countries</h5>
            <small>Rossalie Chambers</small>
          </div>
          <div class="blog-item">
            <h5>Launch in five more Europian Countries</h5>
            <small>Rossalie Chambers</small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
