<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modern_Card</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./Style.Css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-img" style="background-image: url(img/1.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="Submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/2.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="Submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/3.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/4.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/5.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/6.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/7.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/8.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="submit">Download</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img" style="background-image: url(img/9.png)">
          &nbsp;
        </div>
        <span><i class="fa fa-heart"></i></span>
        <div class="card-body">
          <div class="cb">
            <h3>Language Setting</h3>
            <small>25th Apr 2k21</small>
          </div>
          <div class="cb">
            <button type="submit">Download</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
