<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News_Letter</title>
    <link rel="stylesheet" href="./Style.Css" />
  </head>

  <body>
    <div class="container">
      <div class="newsletter">
        <div class="day">
          <small>Day</small>
          <h2>1130</h2>
        </div>
        <small>dont miss out the latest</small>
        <h2>Weekly FREE UI resources straight to your inbox</h2>
        <form class="form-control">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email Address"
          />
          <button type="submit" class="btn">Stay Inspired</button>
        </form>
        <small class="cond">Commitment issues? Unsubscribe at any time.</small>
      </div>
    </div>
  </body>
</html>
