<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timesheet_Header</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="nav-group">
            <div class="nav">
              <i class="fas fa-angle-left"></i>
              <i class="fas fa-angle-right"></i>
            </div>
            <div class="con">
              <h6>Week 4: 20.01.2020 - 26.01.2020</h6>
            </div>
          </div>
          <div class="wd">
            <span class="week">Week</span>
            <span class="day">Day</span>
          </div>
        </div>
        <div class="card-body">
          <div class="dt-item dt-item-active">
            <small>mon 20.01</small>
            <h6>7:30</h6>
          </div>
          <div class="dt-item dt-item-active">
            <small>mon 20.01</small>
            <h6>7:30</h6>
          </div>
          <div class="dt-item dt-item-active">
            <small>mon 20.01</small>
            <h6>7:30</h6>
          </div>
          <div class="dt-item dt-item-active">
            <small>mon 20.01</small>
            <h6>7:30</h6>
          </div>
          <div class="dt-item dt-item-active">
            <small>mon 20.01</small>
            <h6>7:30</h6>
          </div>
          <div class="dt-item dt-item-active">
            <small>mon 20.01</small>
            <h6>7:30</h6>
          </div>
          <div class="dt-item dt-item-active">
            <small>mon 20.01</small>
            <h6>7:30</h6>
          </div>
          <div class="dt-item dt-item-active">
            <h4>total: 23:30</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
