<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranjit_Portfolio_Design</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      intigrity="ha256-46qynGAkLSFpVbEBog43gvNhfroj+BmwXdxFgVk/Kvc="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./Style.Css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="./image/1.png" alt="srcset" />
      </div>
      <button class="nav-toggle" aria-lable="toggle-navigation">
        <span class="humburgar"></span>
      </button>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-iitem"><a href="#Home" class="nav-link">Home</a></li>
          <li class="nav-iitem">
            <a href="#Service" class="nav-link">My Service</a>
          </li>
          <li class="nav-iitem">
            <a href="#About" class="nav-link">About Me</a>
          </li>
          <li class="nav-iitem">
            <a href="#Work" class="nav-link">My Work</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- my introduction -->
    <section class="intro" id="home">
      <h1 class="section__title section__title--intro">
        Hi, I am <strong>Ranjit Kairi.</strong>
      </h1>
      <p class="section__subtitle section__subtitle--intro">front-and dev</p>
      <img src="./image/2.JPG" alt="a picture of Ranjit Kairi smiling" />
    </section>

    <!-- my services -->

    <section class="My_Services" id="services">
      <h2 class="section__title section__title--services">What I Do</h2>
      <div class="services">
        <div class="services">
          <h3>Design + Development</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
            aliquam aspernatur impedit eligendi, odit, quos dicta illo, quaerat
            optio atque vero? Laboriosam laborum labore molestiae, doloremque ab
            similique doloribus temporibus.
          </p>
        </div>
        <!-- /services -->
        <div class="services">
          <h3>E-Commerce</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
            aliquam aspernatur impedit eligendi, odit, quos dicta illo, quaerat
            optio atque vero? Laboriosam laborum labore molestiae, doloremque ab
            similique doloribus temporibus
          </p>
        </div>
        <!-- /services -->
        <div class="services">
          <h3>WordPress</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
            aliquam aspernatur impedit eligendi, odit, quos dicta illo, quaerat
            optio atque vero? Laboriosam laborum labore molestiae, doloremque ab
            similique doloribus temporibus
          </p>
        </div>
        <!-- /services -->
      </div>
      <!-- /services -->

      <a href="#Work" class="btn">My_Work</a>
    </section>
    <!-- About Me -->
    <section class="About_Me" id="About">
      <h2 class="section__title section__title--about">Who I Am</h2>
      <p class="section__subtitle section__subtitle--about"></p>
      <div class="About__me__body">
        <p></p>
        <p></p>
      </div>
      <img src="./image/3.jpg" alt="Ranjit leaning againts a bus" />
    </section>
    <!-- My_Work -->
    <section class="My_Work" id="work">
      <h2 class="section__title">My work</h2>
      <p class="section__subtitle"></p>
      <div class="portfolio">
        <!-- portfolio items 01 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P1.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 02 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P2.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 03 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P3.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 04 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P4.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 05 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P5.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 06 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P6.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 07 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P7.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 08 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P8.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 09 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P9.jpeg" alt="srcset" class="portfolio__img" />
        </a>
        <!-- portfolio items 10 -->
        <a href="#" class="portfolio__items">
          <img src="./image/P10.jpeg" alt="srcset" class="portfolio__img" />
        </a>
      </div>
    </section>
    <!-- footer -->
    <footer>
      <!-- replace with your own email address -->
      <a href="Mail-to:- ranjitkoiri009@gmail.com" class="footer__link"
        >E-mail:- ranjitkoiri009@gmail.com</a
      >
      <ul class="social-list">
        <li class="social-list_item">
          <a class="social-list_link" href="https://codepen.io">a</a>
        </li>
        <li class="social-list_item">
          <a class="social-list_link" href="https://dribbble.com">b</a>
        </li>
        <li class="social-list_item">
          <a class="social-list_link" href="https://twiter.com">c</a>
        </li>
        <li class="social-list_item">
          <a class="social-list_link" href="https://github.com">d</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
