<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating_Card</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./Style.Css" />
  </head>
  <body>
    <div class="container">
      <h2>Customer Review</h2>
      <div class="review-bar">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
        <h6>4.7 out of 5</h6>
      </div>
      <h5>40 Customer Review</h5>
      <div class="review-nums">
        <span>5 star</span>
        <div class="bar-back">
          <div class="bar-front" style="width: 85%">
            <span class="pointer">85%</span>
          </div>
        </div>
      </div>
      <div class="review-nums">
        <span>5 star</span>
        <div class="bar-back">
          <div class="bar-front" style="width: 75%">
            <span class="pointer">75%</span>
          </div>
        </div>
      </div>
      <div class="review-nums">
        <span>5 star</span>
        <div class="bar-back">
          <div class="bar-front" style="width: 65%">
            <span class="pointer">65%</span>
          </div>
        </div>
      </div>
      <div class="review-nums">
        <span>5 star</span>
        <div class="bar-back">
          <div class="bar-front" style="width: 55%">
            <span class="pointer">55%</span>
          </div>
        </div>
      </div>
      <div class="review-nums">
        <span>5 star</span>
        <div class="bar-back">
          <div class="bar-front" style="width: 45%">
            <span class="pointer">45%</span>
          </div>
        </div>
      </div>
      <small class="calc">How do we calculate Rating?</small>
    </div>
  </body>
</html>
