<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog_Card</title>
    <link rel="stylesheet" href="./Style.Css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <img src="../Blog_Cards/images/ballons.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Technology</span>
          <h4>Why the Tesla Cyber Truck designed the way it is?</h4>
          <p>An exploration into the trucks polorising design</p>

          <div class="user">
            <img src="images/user-1.jpg" alt="" srcset="" />
            <div class="user-info">
              <h5>Carrie Brewer</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="../Blog_Cards/images/city.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <span class="tag tag-pink">Populer</span>
          <h4>How to keep going when you don't know what next</h4>
          <p>
            The Future can be scary, buth there are ways to deal with that fear
          </p>

          <div class="user">
            <img src="images/user-2.jpg" alt="" srcset="" />
            <div class="user-info">
              <h5>Carrie Brewer</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="../Blog_Cards/images/rover.jpeg" alt="" srcset="" />
        </div>
        <div class="card-body">
          <span class="tag tag-purple">design</span>
          <h4>10 rules of Dashboard Design</h4>
          <p>Dashboard design Guidelines.</p>

          <div class="user">
            <img src="images/user-3.jpg" alt="" srcset="" />
            <div class="user-info">
              <h5>Carrie Brewer</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
