<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>testimonials</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="testi-items-1">
        <img src="./images/rkP1.JPG" alt="" srcset="" />
      </div>

      <div class="testi-items-2">
        <i class="fas fa-quote-left"></i>
        <p>
          link Neo from the Matrix, the World opens up and start to see
          everything in 1's and 0's
        </p>

        <h4>Edward S. hisey</h4>
        <small>cheif MArketing Officer</small>
      </div>

      <div class="brands">
        <img src="images/webly2.png" alt="" srcset="" />
        <img src="images/capanel.png" alt="" srcset="" />
        <img src="images/tesla.png" alt="" srcset="" />
        <img src="images/tnw2.png" alt="" srcset="" />
        <button>view All<i class="fas fa-angle-double-right"></i></button>
      </div>
    </div>
  </body>
</html>
