*/::after/::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: skyblue;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;
}
